#dsm-frame {
	font-family: sans-serif !important;
	margin:0 auto !important;
	position:relative !important;
	z-index:9999999 !important;
	overflow: auto !important;
}
#dsm-frame h2 {
	color:#FFFFFF !important;
	font-size: 1em !important;
	line-height:1em !important;
}
#dsm-frame #question {
	/*background:#0987c8 !important;
	background:linear-gradient(to bottom,#0987c8 0%,#056a9f 62%,#035e8d 98%,#ffffff 100%) !important;*/
	padding: 1em !important;
}
#dsm-frame .row {
	max-width:100% !important;
}
#dsm-frame .column {
	padding:1em !important;
}
#dsm-frame label {
	color: black !important;
	word-break: break-word !important;
	margin: 0.5em 0 !important;
	font-size: 12px !important;
}

#dsm-frame .no-bullet label {
	margin-left: 30px !important;      
	display: block !important;
}

#dsm-frame #dsm-logo {
	width:5em !important;
	float: right !important;
}

#dsm-frame #dsm-survey-timer,
#dsm-frame #dsm-survey-progress {
	font-size: 1em !important;
	color:#888 !important;
	float:right !important;
}
#dsm-frame #dsm-survey-progress {
	font-size: 1.3em !important;
	margin: 0 1.5em 0 0 !important;
}
#dsm-frame button {
	background:#035e8d !important;
	font-weight:bold !important;
	letter-spacing:1px !important;
	margin:0 !important;
	padding: 0.5em;
	border: 0;
	color: white;
	float: left !important;
	font-size: 12px;
}
#dsm-frame textarea {
	font-size: 12px !important;
	width: 95% !important;
	background: white !important;
	padding: 5px !important;
	color: black !important;
	white-space: pre !important;
}
#dsm-frame select {
	font-size: 12px !important;
	height:auto !important;
	background: white !important;
	color: black !important;
	padding: 0.5em !important;
	width: 90% !important;
}

#dsm-frame select option {
	color: black !important;
}

#dsm-frame #end_screen {
	text-align: center !important;
}
#dsm-frame #end_screen h1 {
	font-weight:bold !important;
	font-size:4rem !important;
}
#dsm-frame #end_screen h2 {
	color:#777777 !important;
	font-size:1.75rem !important;
}

#dsm-frame #register{
	position: absolute !important;
	z-index: 5000 !important;
	width: 100% !important;
	height: 100% !important;
}

#dsm-frame #register input[type=text]{
	width: 70% !important;
	font-size: 1.5em !important;
	margin: 0 auto !important;
	padding: 1em !important;
}

#dsm-frame input[type="checkbox"], 
#dsm-frame input[type="radio"] {
	margin: 0 1rem 0 0 !important;
	vertical-align: middle !important;
	float: left !important;
}

#dsm-frame #info_link{
	line-height: 2.3em !important;
	color: #888 !important;
	text-decoration:underline !important;
}

#dsm-frame .total_characters_message {
	font-size: 1.5em !important;
	color: black !important;
}

#dsm-frame #char_count p{
	font-size: 12px !important;
	color: rgb(95, 95, 95) !important;
	font-weight: bold !important;
}

#dsm-frame .text_limit_hit{
	color:red !important;
}

#dsm-frame #answers,
#dsm-frame #dsm-foot {
	padding: 0 1em 0.5em 1em!important;
	overflow: auto !important}

#dsm-frame #answers table tr td:first-of-type{
	vertical-align: middle !important;
}

#dsm-frame input[type="email"] {
	background: white !important;
	width: 90% !important;
	padding: 0.5em !important;
	color: black !important;
}

#dsm-frame #register {
	text-align: center !important;
}

#dsm-frame #register button {
	text-align: center !important;
	float:none !important;
}

#dsm-frame .sub_logo_block {
	float: left !important;
	clear: both !important;
}

#dsm-frame .sub_logo_block a {
	font-size: 1em !important;
	color: #777777 !important;
	margin: 1em 0 0 !important;
	display: block !important;
}

#dsm-frame .register_buttons {
	width: 80% !important;
	margin: 0 auto !important;
}

#dsm-frame .fl {
	float: left !important;
	text-align: left !important;
}

#dsm-frame .fr {
	float: right !important;
	text-align: right !important;
}

[data-js="dsm-replace-screen"] ul li {
	list-style: none !important;
	font-size: 12px !important;
}

#custom_end_screen{
	width: auto !important;
	height: auto !important;
}

#dsm-frame.no_overflow {
	overflow: visible !important;
}

#dsm-foot.hide {
	display: none !important;
}

#dsm-foot.show {
	display: block !important;
}

#dsm-html5-creative {
	width: 100% !important;
	border: none !important;
	overflow: hidden !important;
}