.size_120x600,
.size_120x600 [data-template="wrapperDesktopStandard"] {
	width:120px !important;
	max-width:120px !important;
	height:600px !important;
	max-height:600px !important;
}

.size_120x600 [data-template="wrapperDesktopFlyover"] {
	width: 120px !important;
	height: 600px !important;
    margin-left: -60px !important;
}

.size_160x600,
.size_160x600 [data-template="wrapperDesktopStandard"] {
	width:160px !important;
	max-width:160px !important;
	height:600px !important;
	max-height:600px !important;
}

.size_160x600 [data-template="wrapperDesktopFlyover"] {
	width: 160px !important;
	height: 600px !important;
    margin-left: -80px !important;
}

.size_250x250,
.size_250x250 [data-template="wrapperDesktopStandard"] {
	width:250px !important;
	max-width:250px !important;
	height:250px !important;
	max-height:250px !important;
}

.size_250x250 [data-template="wrapperDesktopFlyover"] {
	width: 250px !important;
	height: 250px !important;
    margin-left: -125px !important;
}

.size_300x250,
.size_300x250 [data-template="wrapperDesktopStandard"] {
	width:300px !important;
	max-width:300px !important;
	height:250px !important;
	max-height:250px !important;
}

.size_300x250 [data-template="wrapperDesktopFlyover"] {
	width: 300px !important;
	height: 250px !important;
    margin-left: -150px !important;
}

.size_300x600,
.size_300x600 [data-template="wrapperDesktopStandard"] {
	width:300px !important;
	max-width:300px !important;
	height:600px !important;
	max-height:600px !important;
}

.size_300x600 [data-template="wrapperDesktopFlyover"] {
	width: 300px !important;
	height: 600px !important;
    margin-left: -150px !important;
}

.size_300x900,
.size_300x900 [data-template="wrapperDesktopStandard"] {
	width:300px !important;
	max-width:300px !important;
	height:900px !important;
	max-height:900px !important;
}

.size_300x900 [data-template="wrapperDesktopFlyover"] {
	width: 300px !important;
	height: 900px !important;
    margin-left: -150px !important;
}

.size_320x50,
.size_320x50 [data-template="wrapperDesktopStandard"] {
	width:320px !important;
	max-width:320px !important;
	height:50px !important;
	max-height:50px !important;
}

.size_320x50 [data-template="wrapperDesktopFlyover"] {
	width: 320px !important;
    margin-left: -160px !important;
}

.size_336x280,
.size_336x280 [data-template="wrapperDesktopStandard"] {
	width:336px !important;
	max-width:336px !important;
	height:280px !important;
	max-height:280px !important;
}

.size_336x280 [data-template="wrapperDesktopFlyover"] {
	width: 336px !important;
	height: 280px !important;
    margin-left: -168px !important;
}

.size_336x999,
.size_336x999 [data-template="wrapperDesktopStandard"] {
	width:336px !important;
	max-width:336px !important;
	height:999px !important;
	max-height:999px !important;
}

.size_336x999 [data-template="wrapperDesktopFlyover"] {
	width: 336px !important;
	height:999px !important;
    margin-left: -168px !important;
}

.size_400x100,
.size_400x100 [data-template="wrapperDesktopStandard"] {
	width:400px !important;
	max-width:400px !important;
	height:100px !important;
	max-height:100px !important;
}

.size_400x100 [data-template="wrapperDesktopFlyover"] {
	width: 400px !important;
    margin-left: -200px !important;
}

.size_468x60,
.size_468x60 [data-template="wrapperDesktopStandard"] {
	width:468px !important;
	max-width:468px !important;
	height:60px !important;
	max-height:60px !important;
}

.size_468x60 [data-template="wrapperDesktopFlyover"] {
	width: 468px !important;
    margin-left: -234px !important;
}

.size_470x50,
.size_470x50 [data-template="wrapperDesktopStandard"] {
	width:470px !important;
	max-width:470px !important;
	height:50px !important;
	max-height:50px !important;
}

.size_470x50 [data-template="wrapperDesktopFlyover"] {
	width: 470px !important;
    margin-left: -235px !important;
}

.size_512x288,
.size_512x288 [data-template="wrapperDesktopStandard"] {
	width:512px !important;
	max-width:512px !important;
	height:288px !important;
	max-height:288px !important;
}

.size_512x288 [data-template="wrapperDesktopFlyover"] {
	width: 512px !important;
	height:288px !important;
    margin-left: -256px !important;
}

.size_550x480,
.size_550x480 [data-template="wrapperDesktopStandard"] {
	width:550px !important;
	max-width:550px !important;
	height:480px !important;
	max-height:480px !important;
}

.size_550x480 [data-template="wrapperDesktopFlyover"] {
	width: 550px !important;
	height:480px !important;
    margin-left: -250px !important;
}

.size_600x450,
.size_600x450 [data-template="wrapperDesktopStandard"] {
	width:600px !important;
	max-width:600px !important;
	height:450px !important;
	max-height:450px !important;
}

.size_600x450 [data-template="wrapperDesktopFlyover"] {
	width: 600px !important;
	height:450px !important;
    margin-left: -300px !important;
}

.size_600x500,
.size_600x500 [data-template="wrapperDesktopStandard"] {
	width:600px !important;
	max-width:600px !important;
	height:500px !important;
	max-height:500px !important;
}

.size_600x500 [data-template="wrapperDesktopFlyover"] {
	width: 600px !important;
	height:500px !important;
    margin-left: -300px !important;
}

.size_655x80,
.size_655x80 [data-template="wrapperDesktopStandard"] {
	width:655px !important;
	max-width:655px !important;
	height:80px !important;
	max-height:80px !important;
}

.size_655x80 [data-template="wrapperDesktopFlyover"] {
	width: 655px !important;
    margin-left: -327px !important;
}

.size_728x90,
.size_728x90 [data-template="wrapperDesktopStandard"] {
	width:728px !important;
	max-width:728px !important;
	height:90px !important;
	max-height:90px !important;
}

.size_728x90 [data-template="wrapperDesktopFlyover"] {
	width: 728px !important;
    margin-left: -364px !important;
}

.size_750x500,
.size_750x500 [data-template="wrapperDesktopStandard"] {
	width:750px !important;
	max-width:750px !important;
	height:500px !important;
	max-height:500px !important;
}

.size_750x500 [data-template="wrapperDesktopFlyover"] {
	width: 750px !important;
	height:500px !important;
    margin-left: -375px !important;
}

.size_800x250,
.size_800x250 [data-template="wrapperDesktopStandard"] {
	width:800px !important;
	max-width:800px !important;
	height:250px !important;
	max-height:250px !important;
}

.size_800x250 [data-template="wrapperDesktopFlyover"] {
	width: 800px !important;
	height:250px !important;
    margin-left: -400px !important;
}

.size_900x300,
.size_900x300 [data-template="wrapperDesktopStandard"] {
	width:900px !important;
	max-width:900px !important;
	height:300px !important;
	max-height:300px !important;
}

.size_900x400,
.size_900x400 [data-template="wrapperDesktopStandard"] {
	width:900px !important;
	max-width:900px !important;
	height:400px !important;
	max-height:400px !important;
}

.size_900x600,
.size_900x600 [data-template="wrapperDesktopStandard"] {
	width:900px !important;
	max-width:900px !important;
	height:600px !important;
	max-height:600px !important;
}

.size_900x300 [data-template="wrapperDesktopFlyover"],
.size_900x400 [data-template="wrapperDesktopFlyover"],
.size_900x600 [data-template="wrapperDesktopFlyover"] {
	width: 900px !important;
    margin-left: -450px !important;
}

.size_900x300 [data-template="wrapperDesktopFlyover"], {
    height:300px !important;
}

.size_900x400 [data-template="wrapperDesktopFlyover"], {
    height:400px !important;
}

.size_900x600 [data-template="wrapperDesktopFlyover"], {
    height:600px !important;
}

.size_970x500,
.size_970x500 [data-template="wrapperDesktopStandard"] {
	width:970px !important;
	max-width:970px !important;
	height:500px !important;
	max-height:500px !important;
}

.size_970x500 [data-template="wrapperDesktopFlyover"] {
	width: 970px !important;
	height:500px !important;
    margin-left: -485px !important;
}

.size_1024x350,
.size_1024x350 [data-template="wrapperDesktopStandard"] {
	width:1024px !important;
	max-width:1024px !important;
	height:350px !important;
	max-height:350px !important;
}

.size_1024x350 [data-template="wrapperDesktopFlyover"] {
	width: 1024px !important;
	height:350px !important;
    margin-left: -512px !important;
}

/* Size specific survey element adjustments */
.size_800x250 textarea,
.size_250x250 textarea,
.size_300x250 textarea {
	height: 50px !important;
}

.size_1024x350 textarea {
	height: 160px !important;
}

.size_728x90 ul li {
    display: inline-block !important;
}

.size_728x90 #dsm-frame ul li input[type="checkbox"], 
.size_728x90 #dsm-frame ul li input[type="radio"] {
  margin: 0 .5em 0 0 !important;
  vertical-align: middle !important;
}

.size_728x90 #dsm-frame label {
	padding: 0 1.5em 0 0 !important;
	margin: 0 !important;
	float: right !important;
}

.size_728x90 #dsm-frame #question {
	padding: 0.4em !important;
}

.size_728x90 #dsm-frame #end_screen h1{
	font-size: 2em !important
}

.size_728x90 #answers {
	margin: .5em 0 0 0 !important;
}

.size_728x90 #char_count,
.size_320x50 #char_count,
.size_400x100 #char_count,
.size_468x60 #char_count,
.size_470x50 #char_count,
.size_655x80 #char_count{
	display:none !important;
}

.size_728x90 #dsm-frame textarea,
.size_320x50 #dsm-frame textarea,
.size_486x60 #dsm-frame textarea,
.size_468x60 #dsm-frame textarea,
.size_470x50 #dsm-frame textarea,
.size_655x80 #dsm-frame textarea {
	margin-top: 5px !important;
	height: 20px !important;
	padding: 0 !important;
}

.size_728x90 #dsm-frame #dsm-survey-progress {
	font-size: 0.8em !important;
	margin-top: -10px !important;
}

.size_728x90 #dsm-frame button{
	padding: 0.3em !important;
	font-size: 11px !important;
}

.size_728x90 #dsm-frame input[type="email"] {
  padding: 0 !important;
}

.size_728x90 #dsm-frame .column,
.size_320x50 #dsm-frame .column,
.size_468x60 #dsm-frame .column,
.size_470x50 #dsm-frame .column,
.size_655x80 #dsm-frame .column{
	padding: 0 !important;
}

.size_400x100 #dsm-frame .column{
	padding: 0.3em !important;
}

.size_728x90 #dsm-frame .register-text h2{
	padding: 10px 0 !important;
}

.size_728x90 #dsm-frame #end_screen{
	margin: 1em 0 0 !important;
}

.size_160x600 #dsm-frame .sub_logo_block,
.size_120x600 #dsm-frame .sub_logo_block{
	margin: 30px !important;
}

.size_400x100 #dsm-frame .sub_logo_block,
.size_468x60 #dsm-frame .sub_logo_block,
.size_470x50 #dsm-frame .sub_logo_block,
.size_655x80 #dsm-frame .sub_logo_block {
	clear: none !important;
}

.size_160x600 #dsm-frame .register_buttons,
.size_120x600 #dsm-frame .register_buttons{
	width: 100% !important;
}

.size_160x600 #dsm-frame #dsm-survey-progress,
.size_120x600 #dsm-frame #dsm-survey-progress,
.size_300x600 #dsm-frame #dsm-survey-progress,
.size_300x900 #dsm-frame #dsm-survey-progress,
.size_320x50 #dsm-frame #dsm-survey-progress,
.size_655x80 #dsm-frame #dsm-survey-progress {
	margin: 0 !important;
	clear: both !important;
}

.size_160x600 #dsm-frame textarea,
.size_120x600 #dsm-frame textarea,
.size_300x600 #dsm-frame textarea,
.size_300x900 #dsm-frame textarea{
	height: 200px !important;
}

.size_160x600 #dsm-frame #end_screen h1,
.size_120x600 #dsm-frame #end_screen h1 {
	font-size: 2rem !important;
}

.size_400x100 #dsm-frame #question{
	padding: 10px 5px!important;
}

.size_400x100 #dsm-frame #answers{
	padding: 0.3em 1em 0.5em 1em!important;
}

.size_320x50 #dsm-frame #question,
.size_468x60 #dsm-frame #question,
.size_470x50 #dsm-frame #question,
.size_655x80 #dsm-frame #question {
	padding: 2px 5px!important;
	font-size: 11px !important;
}

.size_320x50 #dsm-frame label,
.size_468x60 #dsm-frame label,
.size_470x50 #dsm-frame label,
.size_655x80 #dsm-frame label {
  font-size: 10px !important;
  margin: 0 5px !important;
}

.size_400x100 #dsm-frame label {
  font-size: 12px !important;
  margin: 0 5px !important;
}

.size_320x50 #dsm-frame ul li,
.size_400x100 #dsm-frame ul li,
.size_468x60 #dsm-frame ul li,
.size_470x50 #dsm-frame ul li,
.size_655x80 #dsm-frame ul li {
  list-style: none !important;
  font-size: 10px !important;
  float: left !important;
}

.size_320x50 #dsm-frame input[type="checkbox"], 
.size_320x50 #dsm-frame input[type="radio"],
.size_400x100 #dsm-frame input[type="checkbox"], 
.size_400x100 #dsm-frame input[type="radio"],
.size_468x60 #dsm-frame input[type="checkbox"], 
.size_468x60 #dsm-frame input[type="radio"],
.size_470x50 #dsm-frame input[type="checkbox"]
.size_470x50 #dsm-frame input[type="radio"],
.size_655x80 #dsm-frame input[type="checkbox"],
.size_655x80 #dsm-frame input[type="radio"] {
  margin: 0 !important;
}

.size_320x50 #dsm-frame #dsm-frame button,
.size_468x60 #dsm-frame #dsm-frame button,
.size_470x50 #dsm-frame #dsm-frame button,
.size_655x80 #dsm-frame #dsm-frame button {
	padding: 0 !important;
	font-size: 10px !important;
}

.size_320x50 #dsm-frame input[type="email"],
.size_468x60 #dsm-frame input[type="email"],
.size_470x50 #dsm-frame input[type="email"],
.size_655x80 #dsm-frame input[type="email"] {
	padding: 0 !important;
}

.size_320x50 #dsm-frame button,
.size_468x60 #dsm-frame button,
.size_470x50 #dsm-frame button,
.size_655x80 #dsm-frame button {
	font-size: 10px !important;
}

.size_320x50 #dsm-frame h2,
.size_468x60 #dsm-frame h2,
.size_470x50 #dsm-frame h2 {
	font-size: 10px !important;
}

.size_655x80 #dsm-frame h2 {
	font-size: 14px !important;
	padding: .5em 0;
}

.size_320x50 #dsm-frame #end_screen h1,
.size_468x60 #dsm-frame #end_screen h1,
.size_470x50 #dsm-frame #end_screen h1,
.size_655x80 #dsm-frame #end_screen h1 {
  font-size: 2rem !important;
}

.size_320x50 #dsm-frame #end_screen h2,
.size_468x60 #dsm-frame #end_screen h2,
.size_470x50 #dsm-frame #end_screen h2,
.size_655x80 #dsm-frame #end_screen h2 {
  font-size: 1rem !important;
}

.size_470x50 #dsm-frame .timer-and-progress,
.size_655x80 #dsm-frame .timer-and-progress {
	font-size: 11px !important;
}

/* HTML5 Creative iframe adjustments */
#dsm-html5-creative{
	overflow:hidden !important;
}
#dsm-html5-creative.frame-50-high{
	height: 50px !important;
}
#dsm-html5-creative.frame-60-high{
	height: 60px !important;
}
#dsm-html5-creative.frame-80-high{
	height: 80px !important;
}
#dsm-html5-creative.frame-90-high{
	height: 90px !important;
}
#dsm-html5-creative.frame-100-high{
	height: 100px !important;
}
#dsm-html5-creative.frame-250-high{
	height: 250px !important;
}
#dsm-html5-creative.frame-280-high{
	height: 280px !important;
}
#dsm-html5-creative.frame-288-high{
	height: 288px !important;
}
#dsm-html5-creative.frame-350-high{
	height: 350px !important;
}
#dsm-html5-creative.frame-400-high{
	height: 400px !important;
}
#dsm-html5-creative.frame-480-high{
	height: 480px !important;
}
#dsm-html5-creative.frame-600-high{
	height: 600px !important;
}