#dsmInviteOverlay{
	display:none;
	position:absolute;
	background: rgba(0, 0, 0, 0.75);
}

#dsmInviteButton{
	color: white !important;
	font-weight: bold !important;
	font-family: sans-serif !important;
	font-size: 1.3em !important;
	text-align: center !important;
	background: #e55a00 !important;
	width: 80% !important;
	margin: 0 auto !important;
	padding: 0.5em !important;
	position: relative !important;
	box-shadow: 0 0 0 0.3em rgba(204, 204, 204, 0.30) !important;
	top: 45% !important;
	transform: translateY(-45%) !important;
	border-radius: 0.3em;
}

.dsm-frame {
	position:fixed !important;
	left:0 !important;
	top:0 !important;
	width:100% !important;
	height:100% !important;
	z-index:9999998 !important;
	min-width: 100% !important;
	top:5% !important;
}

#dsm-modal-overlay {
	background:#333 !important;
	opacity:.7 !important;
	position:fixed !important;
	left:0 !important;
	top:0 !important;
	width:100% !important;
	height:100% !important;
	z-index:9999998 !important;
}
#dsm-modal #push {
	padding:5em 0 0 !important;
}
#dsm-modal {
	font-family: sans-serif !important;
	font-size: 2vh !important;
	width:85% !important;
	margin:0 auto !important;
	position:relative !important;
	z-index:9999999 !important;
	background:#d0ebff !important;
	box-shadow:0px 1px 14px 0px rgba(0,14,0,1) !important;
}
#dsm-modal h2 {
	color:#FFFFFF !important;
	font-size:1.75em !important;
	line-height:1.75em !important;
}
#dsm-modal #question {
	background:#0987c8 !important;
	background:linear-gradient(to bottom,#0987c8 0%,#056a9f 62%,#035e8d 98%,#ffffff 100%) !important;
	padding: 2em !important;
}
#dsm-modal .row {
	max-width:100% !important;
}
#dsm-modal .column {
	padding:1em !important;
}
#dsm-modal label {
	font-size: 1.8em !important;
	color: black !important;
	word-break: break-word !important;
	margin: 0.5em 0 !important;
	display: inline-block !important;
}
#dsm-modal input[type=radio],#dsm-modal input[type=checkbox] {
	width:1.8em !important;
	height:1.8em !important;
}
#dsm-modal #dsm-logo {
	width:5em !important;
	float: right !important;
}

#dsm-modal #dsm-survey-timer,
#dsm-modal #dsm-survey-progress {
	font-size:2em !important;
	color:#888 !important;
	float:right !important;
	margin: 0.7em 0 0 3em !important;
}
#dsm-modal #dsm-survey-progress {
	font-size: 4em !important;
  	clear: both !important;
}
#dsm-modal button {
	background:#035e8d !important;
	font-weight:bold !important;
	letter-spacing:1px !important;
	margin:0 !important;
	padding: 1em;
	border: 0;
	color: white;
	float: left !important;
}
#dsm-modal #dsm-modal-close {
	  float: right !important;
	  top: -0.6em !important;
	  right: -1em !important;
	  cursor: pointer !important;
	  color: #fff !important;
	  border: 3px solid #FFFFFF !important;
	  border-radius: 10em !important;
	  background: #000000 !important;
	  font-size: 1.5em !important;
	  display: inline-block !important;
	  line-height: 0.7em !important;
	  padding: 0.6em !important;
	  position: absolute !important;
	  z-index: 6000 !important;
}
#dsm-modal #dsm-modal-close:before {
	content:"X" !important;
}
#dsm-modal textarea {
	min-height:15rem !important;
	font-size:1.5em !important;
	width: 98% !important;
	padding: .5em !important;
	background: white !important;
	color: black !important;
}
#dsm-modal select {
	font-size: 1.5em !important;
	height:auto !important;
	background: white !important;
	padding: 0.5em !important;
	width: 95% !important;
	color: black !important;
}
#dsm-modal #end_screen {
	margin:3em 0 0 !important;
	text-align: center !important;
}
#dsm-modal #end_screen h1 {
	font-weight:bold !important;
	font-size:4rem !important;
}
#dsm-modal #end_screen h2 {
	color:#777777 !important;
	font-size:1.75rem !important;
}

#dsm-modal #register{
	position: absolute !important;
	z-index: 5000 !important;
	width: 100% !important;
	height: 90vh !important;
}

#dsm-modal #register input[type=text]{
	width: 70% !important;
	font-size: 1.5em !important;
	margin: 0 auto !important;
	padding: 1em !important;
}

#dsm-modal input[type="checkbox"], 
#dsm-modal input[type="radio"] {
	margin: 0 1rem 0 0 !important;
	vertical-align: middle !important;
}

#dsm-modal #info_link{
	line-height: 2.3em !important;
	color: #888 !important;
	text-decoration:underline !important;
}

#dsm-modal .total_characters_message {
	font-size: 1.5em !important;
	color: black !important;
}

#dsm-modal #char_count p{
	font-size: 1.5em !important;
	color: rgb(95, 95, 95) !important;
	padding: 1.3em 0 0 0.6em !important;
	font-weight: bold !important;
}

#dsm-modal .text_limit_hit{
	color:red !important;
}

#dsm-modal #answers,
#dsm-modal #dsm-foot {
	padding: 0 2em 2em 2em!important;
	overflow: auto !important
}

#dsm-modal #answers table tr td:first-of-type{
	vertical-align: middle !important;
}

#dsm-modal input[type="email"] {
	background: white !important;
	width: 95% !important;
	padding: 0.5em !important;
	color: black !important;
	font-size: 1.5em !important;
}

#dsm-modal #register {
	text-align: center !important;
}

#dsm-modal #register button {
	text-align: center !important;
	float:none !important;
}

#dsm-modal .sub_logo_block {
	float: left !important;
	clear: both !important;
}

#dsm-modal .sub_logo_block a {
	font-size: 1.5em !important;
	color:#777777 !important;
}

#dsm-modal .register_buttons {
	width: 80% !important;
	margin: 0 auto !important;
}

#dsm-modal .fl {
	float: left !important;
	text-align: left !important;
}

#dsm-modal .fr {
	float: right !important;
	text-align: right !important;
}

[data-js="dsm-replace-screen"] ul li {
	list-style: none !important;
	margin: .5em !important;
}

/* For really small devices */
@media only all and (min-width:0em) and (max-width:31.25em) { 
	#dsm-modal button {
		padding:.75em !important;
	}
	
	#dsm-modal input[type="email"] {
		margin:0 !important;
	}
}