<div class="row">
    <div class="col-md-6">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">cdnjs</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="http://github.com/cdnjs/cdnjs" class="translateit">Add a library</a>
                    </li>
                    <li class=""><a href="/about" class="translateit">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/news" class="translateit">community</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="http://jobs.jsonresume.org/" class="translateit">Job Board</a>
                    </li>
                    <li class=""><a href="https://gitter.im/cdnjs/cdnjs" class="translateit">Chat</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script id="modernizr" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js?test=1234&param=true"></script>
</div>